name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  CI: true

jobs:
  test:
    name: 'Test on Node.js ${{ matrix.node }} OS: ${{ matrix.os }}'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node: [22, 24]
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node }}

      - name: Test
        run: pnpm test:coverage

      - name: Upload code coverage
        uses: codecov/codecov-action@v5

  lint:
    runs-on: ubuntu-latest
    name: Lint source code
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup
        uses: ./.github/actions/setup

      - name: Lint
        run: pnpm lint

  publish:
    runs-on: ubuntu-latest
    name: Publish test build to pkg.pr.new
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup
        uses: ./.github/actions/setup

      - name: Build
        run: pnpm build
      - name: Publish
        run: pnpx pkg-pr-new publish

  test-examples:
    runs-on: ubuntu-latest
    name: Test build of example projects
    steps:
      - name: Checkout unplugin-fluent-vue
        uses: actions/checkout@v6.0.2
      - name: Checkout examples
        uses: actions/checkout@v6.0.2
        with:
          repository: fluent-vue/examples
          path: examples
      - name: Setup
        uses: ./.github/actions/setup

      - name: Test
        run: node scripts/build-examples.js
